* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #131720;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}
h1 {
  color: white;
}
nav {
  background-color: #131720;
  display: flex;
  justify-content: space-around;
  padding: 25px;
}
#search {
  padding: 10px;
  border-radius: 30px;
}
#btn {
  padding: 8px;
  border-radius: 30px;
}
#movie {
  max-width: 1100px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  padding: 50px;
}

.card {
  /* background: white; */
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  gap: 10px;
  color: white;
}
.card img {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  margin: 10px 0 0;
  font-size: 18px;
}
